.crystal{
    width: 200px;
    height: 200px;
    margin-left: 65px;
  }

 .jumbotron {
background: white;
 } 

.container {
    background: white;
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
}
h1 {
    font-size: 200px;
    font-family: 'Orbitron', sans-serif;
}

.lead {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

footer {
margin-top: 25%;

}